@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}



<div class="container" style="margin-bottom:100px">
    <h4 style=" text-align: center;">Welcome @Model.UserName to Your Dashboard</h4>
    <p style="text-align: center;">
        We are happy to have you join us. Through the control panel, you can manage your content on the site
    </p>
</div>


<div class="row space-rows">
    <div class="col">
        <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950">
            <div class="card-header">
                <span class="space"><a href="#"><i class="fa fa-cloud-download" id="download-icon-1"></i></a></span>
                <div class="cardheader-text">
                    <h4 id="heading-card-1" style="text-align: center;font-size: 81px;">@Model.TotalArticles</h4>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text cardbody-sub-text" style="text-align: center;">Total Articles</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card cards-shadown cards-hover" data-aos="slide-right" data-aos-duration="950">
            <div class="card-header">
                <span class="space"><a href="#"><i class="fa fa-cloud-download" id="download-icon-2"></i></a></span>
                <div class="cardheader-text">
                    <h4 id="heading-card-2" style="text-align: center;font-size: 81px;">@Model.ArticlesForThisYear</h4>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text cardbody-sub-text" style="text-align: center;">Yearly Contributions</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card cards-shadown cards-hover" data-aos="slide-right" data-aos-duration="950">
            <div class="card-header">
                <span class="space"><a href="#"><i class="fa fa-cloud-download" id="download-icon-2"></i></a></span>
                <div class="cardheader-text">
                    <h4 id="heading-card-2" style="text-align: center;font-size: 81px;">@Model.ArticlesForThisMonth</h4>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text cardbody-sub-text" style="text-align: center;">Monthly Contributions</p>
            </div>
        </div>
    </div>
</div>