@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Userame" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                <label asp-for="Input.FirstName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Last name" />
                <label asp-for="Input.LastName" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Bio" class="form-control" placeholder="Bio" />
                <label asp-for="Input.Bio" class="form-label"></label>
                <span asp-validation-for="Input.Bio" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Facebook" class="form-control" placeholder="Facebook" />
                <label asp-for="Input.Facebook" class="form-label"></label>
                <span asp-validation-for="Input.Facebook" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Instagram" class="form-control" placeholder="Instagram" />
                <label asp-for="Input.Instagram" class="form-label"></label>
                <span asp-validation-for="Input.Instagram" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Twiter" class="form-control" placeholder="Twiter" />
                <label asp-for="Input.Twiter" class="form-label"></label>
                <span asp-validation-for="Input.Twiter" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @if (Model.Input.ProfilePicture != null)
                {
                    <img id="profilePicture" alt="profile" src="~/images/UserProfilePictures/@Model.Input.ProfilePicture.FileName" class="img-fluid mb-1" style="width:  300px; height:300px;" />
                }
                else
                {
                    <img id="profilePicture" alt="profile" src="~/images/UserProfilePictures/defaultProfilePicture.png" class="img-fluid mb-1" style="width:  300px; height:300px;" />
                }
                <input type="file" class="form-control mb-2" accept="image/png, image/jpg, image/jpeg" asp-for="Input.ProfilePicture" onchange="preview()" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script type="text/javascript">
    function preview() {
        profilePicture.src = URL.createObjectURL(event.target.files[0]);
    }
</script>